= render partial: "page_heading", locals: { image: "faq-header.png", title: "Frequently Asked Questions", subtitle: "Need a little help?  Look through some of our frequently asked questions below and if you don't see what you're looking for, go ahead, ask anyway." }
.container
  .row
    .col-md-12
      %h6{style: "margin-top: 30px;"} Find answers
  .row#faq-search
    .col-md-6
      = form_tag faqs_path, method: :get, id: "faqs_search", remote: true do
        = text_field_tag :search, params[:search], class: "form-control", placeholder: "Search FAQ's (just start typing)"
  .row
    .col-md-12#faqs
      = render 'faqs'

      = link_to 'New FAQ', new_faq_path if params[:edit] == "true"