= form_for @applicant, remote: true, html: { role: "form" } do |f|
  .form-group{class: ("has-error" if @applicant.errors.messages[:name].present?)}
    = f.label :name, raw("<abbr title='required'>*</abbr> Full Name"), class: "control-label" if ENV["FORM_LABELS"]
    = f.text_field :name, class: "form-control", placeholder: "Full Name *"
    - if @applicant.errors.messages[:name].present?
      %p.help-block= @applicant.errors.messages[:name][0]

  .form-group{class: ("has-error" if @applicant.errors.messages[:email].present?)}
    = f.label :email, raw("<abbr title='required'>*</abbr> Email"), class: "control-label" if ENV["FORM_LABELS"]
    = f.email_field :email, class: "form-control", placeholder: "Email Address *"
    - if @applicant.errors.messages[:email].present?
      %p.help-block= @applicant.errors.messages[:email][0]

  .form-group{class: ("has-error" if @applicant.errors.messages[:phone].present?)}
    = f.label :phone, raw("Phone"), class: "control-label" if ENV["FORM_LABELS"]
    = f.text_field :phone, class: "form-control", placeholder: "Phone Number"
    - if @applicant.errors.messages[:phone].present?
      %p.help-block= @applicant.errors.messages[:phone][0]

  .form-group{class: ("has-error" if @applicant.errors.messages[:school].present?)}
    = f.label :school, raw("School Where Attending/Graduated"), class: "control-label" if ENV["FORM_LABELS"]
    = f.text_field :school, class: "form-control", placeholder: "School Where Attending/Graduated"
    - if @applicant.errors.messages[:school].present?
      %p.help-block= @applicant.errors.messages[:school][0]

  .form-group{class: ("has-error" if @applicant.errors.messages[:employer].present?)}
    = f.label :employer, raw("Current Employer"), class: "control-label" if ENV["FORM_LABELS"]
    = f.text_field :employer, class: "form-control", placeholder: "Current Employer"
    - if @applicant.errors.messages[:employer].present?
      %p.help-block= @applicant.errors.messages[:employer][0]

  .form-group{class: ("has-error" if @applicant.errors.messages[:balance].present?)}
    = f.label :email, raw("Currrent Outstanding Loan Balance"), class: "control-label" if ENV["FORM_LABELS"]
    = f.text_field :balance, class: "form-control currency", placeholder: "Currrent Outstanding Loan Balance"
    - if @applicant.errors.messages[:balance].present?
      %p.help-block= @applicant.errors.messages[:balance][0]

  %p.help-block.pull-left * Required
  = f.submit "Submit", class: "btn btn-primary pull-right"