= render partial: "page_heading", locals: { image: "apply-header.png", title: "Steps to Apply", subtitle: "We are in the process of finalizing our upgraded application portal and therefore unable to process new loan applications at this time. Apologies for any inconvenience this may cause. <br/> <br/> We would love to contact you and discuss money-saving loan options as soon as our new application portal is live. Please fill out the fields below if you’d like to hear from us." }
.container
  .mt-neg-5.bg-white
    .stripe.bg-green.h5
    .pad
      .row{style: "margin: 30px 0;"}
        .col-sm-12
          %h4{style: "margin-bottom: 20px;"} Get in Touch
          #form
            = render 'form'
      %hr
      .row
        .col-md-6#calculator
          %a{name: "savings-calculator"}
          %h4 Estimated Savings Calculator
          = render 'home/savings_calculator'
        .col-md-6
          = image_tag "savings-placeholder.png", id: "savings-placeholder"
          = render 'home/savings_results'