.savings-calc-loan
  .row
    .col-sm-8
      .form-group{style: 'margin: 0;'}
        = label_tag :loan_balance, "Remaining Balance"
        = text_field_tag :loan_balance, "", class: "form-control currency balance", placeholder: "Balance"
    .col-sm-4
      .form-group{style: 'margin: 0;'}
        = label_tag :loan_rate, "Rate"
        = text_field_tag :loan_rate, "", class: "form-control percent rate", placeholder: "Rate"
  = link_to raw("&times;"), "#", class: "remove-loan"