= link_to "Details", "#fixed-rate-savings-details", data: { toggle: "modal" }, style: "display: none;", id: "fixed-details-link"
= link_to "Details", "#variable-rate-savings-details", data: { toggle: "modal" }, style: "display: none;", id: "variable-details-link"

#fixed-rate-savings-details.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog{style: "width: 960px;"}
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4.modal-title 
          Potential Savings: 
          %span{class: "fixed-3-savings currency"} $XXX
      .modal-body
        %table.table
          %thead
            %tr
              %th
              %th.center{colspan: fixed_terms.length} Fixed Rate Loan Options
            %tr
              %th
              - fixed_terms.each do |years|
                %th #{years} Year
          %tbody
            %tr
              %td Estimated APR
              %td 6.41%
              %td 6.16%
              %td 6.05%
              %td 5.97%
              %td 5.9%
              %td 5.87%
              %td 5.84%
            %tr
              %td Monthly Payment
              - fixed_terms.each do |years|
                %td{class: "fixed-#{years}-pmt currency"} $xxx
            %tr
              %td Estimated Savings vs. Current Loan
              - fixed_terms.each do |years|
                %td{class: "fixed-#{years}-savings currency"} $xxxxxx
        %p Savings calculations assumes the following:
        %ul
          %li 
            %p Borrower makes all timely monthly payments, no grace period, no deferment or any other disruption to regularly scheduled payments
          %li 
            %p Borrower’s credit criteria qualifies for Link’s 5.75% fixed interest rate loan + 1% origination fee
          %li 
            %p No pre-payment penalties on borrower’s existing student loans
        %p.center= link_to "Apply Now", new_applicant_path, class: "btn btn-success"


#variable-rate-savings-details.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog{style: "width: 700px;"}
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4.modal-title 
          Potential Savings: 
          %span{class: "variable-5-savings currency"} $XXX
      .modal-body
        %table.table
          %thead
            %tr
              %th
              %th{colspan: variable_terms.length} Variable Rate Loan Options
            %tr
              %th
              - variable_terms.each do |years|
                %th #{years} Year
          %tbody
            %tr
              %td Estimated APR *
              %td 3.4%
              %td 3.2%
            %tr
              %td Monthly Payment
              - variable_terms.each do |years|
                %td{class: "variable-#{years}-pmt currency"} $xxx
            %tr
              %td Estimated Savings vs. Current Loan
              - variable_terms.each do |years|
                %td{class: "variable-#{years}-savings currency"} $xxxxxx
        %p * Please note, the interest on Link variable rate loans is based on the LIBOR rate + 2.75% APR.  Link's variable rate is reset monthly with an interest rate cap of 8%.
        %p Savings calculations assumes the following:
        %ul
          %li 
            %p Borrower makes all timely monthly payments, no grace period, no deferment or any other disruption to regularly scheduled payments
          %li 
            %p Borrower’s credit criteria qualifies for Link’s 3.00% variable interest rate loan + 1% origination fee
          %li 
            %p No pre-payment penalties
        %p.center= link_to "Apply Now", new_applicant_path, class: "btn btn-success"
