= render partial: "page_heading", locals: { image: "apply-header.png", title: "Apply For a Loan", subtitle: "Start saving today. Find your school or organization from the list below and get started on applying for a loan. Once you are approved, you will become a part of the Link network." }
.container
  .row{style: "margin: 30px 0;"}
    .col-sm-8#schools-container
      %h6 Participating Schools
      .row#schools
        - %w[hope michigan calvin northwestern wheaton university-of-chicago].each do |school|
          .col-md-4.col-sm-6
            %a.school{href: "#"}
              = image_tag "schools/#{school}.png"
              .school-apply Apply Now
      %h6 Participating Organizations
      .row#schools
        - %w[amway].each do |org|
          .col-md-4.col-sm-6
            %a.school{href: "#"}
              = image_tag "organizations/#{org}.png"
              .school-apply Apply Now
    .col-sm-4#calculator
      %h6 Estimated Savings Calculator
      = render 'savings_calculator'
      = render 'savings_results'