= render partial: "page_heading", locals: { image: "apply-header.png", title: "Apply For a Loan", subtitle: "Start saving today. Find your school from the list below and get started on applying for a loan. Once you are approved, you will become a part of the Link network." }
.container
  .row{style: "margin: 30px 0;"}
    .col-sm-8#schools-container
      %h6 Participating Schools
      .row#schools
        .col-md-4.col-sm-6
          .school
            = image_tag "schools/hope.png"
            = link_to "Apply Now", "#", class: "school-apply"
        .col-md-4.col-sm-6
          .school
            = image_tag "schools/grand-valley.png"
            = link_to "Apply Now", "#", class: "school-apply"
        .col-md-4.col-sm-6
          .school
            = image_tag "schools/calvin.png"
            = link_to "Apply Now", "#", class: "school-apply"
      %h6 Participating Organizations
      .row#schools
        .col-md-4.col-sm-6
          .school
            = image_tag "Organizations/amway.png"
            = link_to "Apply Now", "#", class: "school-apply"
    .col-sm-4#calculator
      %h6 Estimated Savings Calculator
      %p Want to know how much you could save by refinancing with Link?  Find out below!
      = form_tag "#", id: "savings-calculator" do
        .savings-calc-loan
          .form-group
            = label_tag :loan_balance, "Remaining Balance"
            = text_field_tag :loan_balance, "", class: "form-control currency balance", placeholder: "$50,000"
          .form-group
            = label_tag :loan_rate, "Existing Interest Rate"
            = text_field_tag :loan_rate, "", class: "form-control percent rate", placeholder: "7.9%"
          .form-group
            = label_tag :loan_term, "Months Remaining on Loan"
            = text_field_tag :loan_term, "", class: "form-control term", placeholder: "120"
        = submit_tag "Calculate", class: "btn btn-primary pull-right", id: "calculate-savings"
      .clearfix
      #insufficient-data{style: "display: none; margin-top: 20px;"}
        .alert.alert-danger.center Please enter data for at least one loan to calculate your estimated savings.
      #savings-results{style: "margin: 30px 0; display: none;"}
        %h6 Your Estimated Savings With Link
        .savings#savings-ten.currency Enter some details!