= render partial: "page_heading", locals: { image: "apply-header.png", title: "Apply For a Loan", subtitle: "Start saving today. Find your school or organization from the list below and get started on applying for a loan. Once you are approved, you will become a part of the Link network." }
.container
  .row{style: "margin: 30px 0;"}
    .col-sm-8#schools-container
      %h6 Participating Schools
      .row#schools
        .col-md-4.col-sm-6
          .school
            = image_tag "schools/hope.png"
            = link_to "Apply Now", "#", class: "school-apply"
        .col-md-4.col-sm-6
          .school
            = image_tag "schools/michigan.png"
            = link_to "Apply Now", "#", class: "school-apply"
        .col-md-4.col-sm-6
          .school
            = image_tag "schools/calvin.png"
            = link_to "Apply Now", "#", class: "school-apply"
        .col-md-4.col-sm-6
          .school
            = image_tag "schools/northwestern.png"
            = link_to "Apply Now", "#", class: "school-apply"
        .col-md-4.col-sm-6
          .school
            = image_tag "schools/wheaton.png"
            = link_to "Apply Now", "#", class: "school-apply"
        .col-md-4.col-sm-6
          .school
            = image_tag "schools/university-of-chicago.png"
            = link_to "Apply Now", "#", class: "school-apply"
      %h6 Participating Organizations
      .row#schools
        .col-md-4.col-sm-6
          .school
            = image_tag "organizations/amway.png"
            = link_to "Apply Now", "#", class: "school-apply"
    .col-sm-4#calculator
      %h6 Estimated Savings Calculator
      = render 'savings_calculator'
      = render 'savings_results'