#hero-bg-responsive
  #hero-inner
    = image_tag "hero-bg.jpg", class: "img-responsive"

.container
  .row
    .col-xs-12
      .one-third.pull-left.relative
        .h5.bg-green
        .h290.pad.bl.bb.bg-white
          %h6 Borrowers
          %p
            = image_tag "money.png", class: "pull-right ml-10 mr-neg-17"
            Refinance and Save with Link if you are...
            %ul{style: "padding-left: 15px; font-size: 13px;"}
              %li A resident or recent graduate working in a health profession
              %li Taking advantage of federal loans to finance your education
              %li Interested in a new way to consolidate and reduce your loans, designed for professionals like you

      .one-third.pull-left.relative
        .h5.bg-light-blue
        .h290.pad.bl.br.bb.bg-white
          %h6 Contact Us
          %p Thank you for visiting Link Capital's pre-launch website, we appreciate your interest. For more information, enter your email address below.
          #form
            = form_for Message.new do |f|
              .form-group
                = f.email_field :email, placeholder: "Email Address", class: "form-control"
              = f.submit "Submit", class: "btn btn-success"
      .one-third.pull-left.relative
        .h5.bg-dark-blue
        .h290.pad.br.bb.bg-white
          %h6 Health Systems
          %p
            = image_tag "chart.png", class: "pull-right ml-10 mr-neg-17"
            Link Capital creates custom programs that provide employers a distinct advantage in recruiting and retaining young talent. These programs can provide employee savings equal to the value of a signing or relocation bonus at zero cost to the employer.
  .br.bl.bg-white{style: "margin-right: 1px;"}
    = render "savings_results"
