%div#hero-background
  .container
    .row
      .col-md-12
        #hero-title
          %h2 A smarter way to
          %h1 Save on STUDENT LOANS
.container
  .row
    .col-xs-12
      .one-third.pull-left.relative
        .h5.bg-green
        .h290.pad.bl.bb.bg-white
          %h6 Borrowers
          %p
            = image_tag "money.png", class: "pull-right ml-10 mr-neg-17"
            REFINANCE AND SAVE WITH LINK.
            %ul{style: "padding-left: 15px; font-size: 13px;"}
              %li Fixed rate loans with 5.97% APR
              %li Variable rate loans with APR as low as 2.99%
              %li 3 to 30 year term options.  Choose the one that's right for you

          .absolute.pos-b-30
            = link_to "Learn More", students_path, class: "btn btn-primary"
            = link_to "Apply Now", apply_path, class: "btn btn-success"
      .one-third.pull-left.relative
        .h5.bg-light-blue
        .h290.pad.bl.br.bb.bg-white
          %h6 Calculate Your Savings
          %p See how much you could save by refinancing with Link.
          = form_tag "#", id: "savings-calculator" do
            .savings-calc-loan
              .form-group
                = text_field_tag :loan_balance, "", class: "form-control currency balance", placeholder: "Remaining balance"
              .row
                .col-xs-6
                  .form-group
                    = text_field_tag :loan_rate, "", class: "form-control percent rate", placeholder: "Interest rate"
                .col-xs-6
                  .form-group
                    = text_field_tag :loan_term, "", class: "form-control term", placeholder: "Months left"
            .absolute.pos-b-30
              .btn-group
                %button.btn.btn-success.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
                  %span#calculate-savings Calculate
                  %span.caret
                %ul.dropdown-menu{role: "menu"}
                  %li= link_to "Calculate With a Fixed Rate Loan", "#", class: "calculate-savings", data: { type: "fixed" }
                  %li= link_to "Calculate With a Variable Rate Loan", "#", class: "calculate-savings", data: { type: "variable" }
              / = submit_tag "Calculate Savings!", class: "btn btn-success calculate-savings", data: { type: "fixed" }
      .one-third.pull-left.relative
        .h5.bg-dark-blue
        .h290.pad.br.bb.bg-white
          %h6 Investors
          %p
            = image_tag "chart.png", class: "pull-right ml-10 mr-neg-17"
            A link investment not only lowers the cost of education for qualified borrowers, it can deliver risk-adjusted returns competitive to other fixed income alternatives.
          .absolute.pos-b-30
            = link_to "Learn More", investors_path, class: "btn btn-primary"
  .br.bl.bg-white{style: "margin-right: 1px;"}
    #savings-results.pad.center{style: "display: none;"}
      %h6 Your Estimated Savings With Link
      #fixed-savings.savings.fixed-3-savings.currency Enter some details!
      #variable-savings.savings.variable-5-savings.currency Enter some details!
      = render "home/savings_details"
