%div#hero-background
  .container
    .row
      .col-md-12
        #hero-title
          %h2 A NEW, BETTER OPTION
          %h1 FOR STUDENT LOANS
.container
  .row#features
    .col-sm-4.first
      .feature#feature-one
        %h6 For Students
        %p
          = image_tag "money.png", class: "pull-right", style: "margin-left: 10px; margin-right: -20px;"
          Save up to $30,000 versus Federal loans by refinancing with the help of investors from your school or organization network
        = link_to "Learn More", students_path, class: "btn btn-primary"
        = link_to "Apply Now", apply_path, class: "btn btn-success"
        .clearfix
    .col-sm-4.middle
      .feature#feature-two
        %h6 For Organizations
        %p
          = image_tag "building.png", class: "pull-right", style: "margin-left: 10px; margin-bottom: -20px;"
          Create an invaluable corporate benefit program that saves employees money while generating revenue for your organization
        = link_to "Learn More", organizations_path, class: "btn btn-primary"
        .clearfix
    .col-sm-4.last
      .feature#feature-three
        %h6 For Investors
        %p
          = image_tag "chart.png", class: "pull-right", style: "margin-left: 10px; margin-bottom: -20px; margin-right: -20px;"
          Earn healthy financial returns while helping lower education costs for junior members of your network
        = link_to "Learn More", investors_path, class: "btn btn-primary"
        .clearfix