= render partial: "page_heading", locals: { image: "investors-header.png", title: "Investors", subtitle: "Earn a healthy, risk-adjusted return while lowering the cost of education for borrowers from your network." }
.container
  .row
    .col-md-12
      .mt-neg-5.bg-white
        .stripe.bg-green.h5
        .pad
          %h4.center.why-link How It Works
          .row.description
            .col-sm-6
              = image_tag "students1.png", class: "hidden-xs"
              = image_tag "students1xs.png", class: "visible-xs"
            .col-sm-6
              %p#investors-1
                %strong.field-title The Government issues $19B of student loans every year. 
                %span.field-text Unlike a mortgage or auto loan, the government does not account for the borrower’s ability to repay, issuing loans to high risk borrowers with the same interest rate as loans to low risk borrowers.
          .row.description
            .col-sm-6
              %p#investors-2
                %strong.field-title Link evaluates information such as credit score and employment history to identify student borrowers who are likely to repay their loans. 
                %span.field-text With the help of investor capital, Link refinances these student loans at a lower interest rate, saving the students money.
            .col-sm-6
              = image_tag "investors2.png", class: "hidden-xs"
              = image_tag "investors2xs.png", class: "visible-xs"
          .row.description
            .col-sm-6
              = image_tag "investors3.png", class: "hidden-xs"
              = image_tag "investors3xs.png", class: "visible-xs"
            .col-sm-6
              %p#investors-3
                %span.field-text Interest payments on these refinanced loans become return on a very safe investment, an investment that also reduces the cost of education for a deserving student.
                %strong.field-title It's a win-win.