#page-heading
  .container
    .row
      .col-sm-6.hidden-xs
        / #video-thumb{data: { toggle: "modal", target: "#how-it-works" } }
        = image_tag "investors-header.png", style: "max-width: 100%;"
      .col-sm-6
        %h3{style: "margin-top: 0;"} Financial and Social Returns
        %h5 
          A Link Capital fund not only lowers the cost of education for qualified borrowers, it can deliver competitive returns, with shorter average life, than many other fixed income investments. 
          %br
          %br
          Contact our head of investor relations at #{link_to 'invest@linkcapital.com', 'mailto:invest@linkcapital.com'} or at 312.724.7056 to discuss investment details and opportunities.
          %br
          %br
          Please note, only #{link_to 'accredited investors', 'http://www.sec.gov/answers/accred.htm', target: "_blank"} can invest with Link Capital.
.container
  .row
    .col-md-12
      .mt-neg-5.bg-white
        .stripe.bg-green.h5
        .pad
          %h4.center.why-link How It Works
          .row.description
            .col-sm-6
              = image_tag "students1.png", class: "hidden-xs"
              = image_tag "students1xs.png", class: "visible-xs"
            .col-sm-6
              %p#investors-1
                %strong.field-title The federal government extends student loans to nearly 10 million individuals a year.
                %span.field-text Unlike a mortgage or auto loan, the government does not account for a borrower’s ability to repay, issuing loans to high-risk borrowers at the same interest rate as loans issued to low-risk borrowers.  Link thinks this approach is unfair.
          .row.description
            .col-sm-6
              %p#investors-2
                %strong.field-title Link Capital qualifies a borrower’s likelihood to repay by verifying factors such as credit score, employment and annual income.
                %span.field-text If these factors suggest a borrower is low-risk, Link can offer the borrower a loan with a competitive interest rate.
            .col-sm-6
              = image_tag "investors2.png", class: "hidden-xs"
              = image_tag "investors2xs.png", class: "visible-xs"
          .row.description
            .col-sm-6
              = image_tag "investors3.png", class: "hidden-xs"
              = image_tag "investors3xs.png", class: "visible-xs"
            .col-sm-6
              %p#investors-3
                %strong.field-title Link Capital finances these qualified loans with the help of private investors and other banking partners.
                %span.field-text The interest payments on these loans are directed back to the investors, enabling them to earn competitive financial returns while also helping borrowers save.