= render partial: "page_heading", locals: { image: "organizations-header.png", title: "Organizations", subtitle: "Attract and retain young talent through a corporate benefit program that saves employees money and generates profit for your organization." }
.container
  .row
    .col-md-12
      .frame
        %h4.center.why-link How It Works
        .row.description
          .col-sm-6
            = image_tag "students1.png", class: "hidden-xs"
            = image_tag "students1xs.png", class: "visible-xs"
          .col-sm-6
            %p#organizations-1
              %strong.field-title A large number of young professionals are paying off student loans with an interest rate between 6 – 8%.
              %span.field-text For many professionals these interest rates are unfairly high, as they do not account for the borrower’s ability to repay. Student loans issued to high risk borrowers have the same interest rate as loans issued to low risk borrowers.
        .row.description
          .col-sm-6
            %p#organizations-2
              %strong.field-title Link partners with organizations to identify employees who currently hold student loans and are likely to repay them.
              %span.field-text With the help of investment capital from the organization, Link refinances loans to these employees at a lower interest rate, saving the employees money.
          .col-sm-6
            = image_tag "investors2.png", class: "hidden-xs"
            = image_tag "investors2xs.png", class: "visible-xs"
        .row.description
          .col-sm-6
            = image_tag "students3.png", class: "hidden-xs"
            = image_tag "students3xs.png", class: "visible-xs"
          .col-sm-6
            %p#organizations-3
              %strong.field-title Employee interest payments on their new loans are directed back to the organization, becoming a reliable return on investment. 
              %span.field-text Organizations are left with a benefit program that not only saves employee’s money, but generates revenue for the organization.