#page-heading
  .container
    .row
      .col-sm-6.hidden-xs
        / #video-thumb{data: { toggle: "modal", target: "#how-it-works" } }
        = image_tag "students-header.png", style: "max-width: 100%;"
      .col-sm-6
        %h3 Refinance and Save
        %h5 If you have an above-average credit score and steady income, you’re probably paying too much on your student loans.  Link Capital offers loan options that can lower your overall cost, reduce your monthly payments, and consolidate multiple loans into a single monthly payment.
        %ul
          %li #{link_to 'Click here', '#fixed-modal', data: { toggle: 'modal' } } for details on Link’s fixed rate loan with APR as low as 5.85%
          %li #{link_to 'Click here', '#variable-modal', data: { toggle: 'modal' } }  for details on Link’s variable rate loan with APR as low as 3.2%
          %li Use our #{link_to 'savings calculator', '#savings-calculator'} to see your potential savings for each option

.container
  .row
    .col-md-12
      .mt-neg-5.bg-white
        .stripe.bg-green.h5
        .pad
          %h4.center.why-link How It Works
          .row.description
            .col-sm-6
              = image_tag "students1.png", class: "hidden-xs"
              = image_tag "students1xs.png", class: "visible-xs"
            .col-sm-6
              %p#students-1
                %strong.field-title The federal government extends student loans to nearly 10 million individuals a year.
                %span.field-text Unlike a mortgage or auto loan, the government does not account for a borrower’s ability to repay, issuing loans to high-risk borrowers at the same interest rate as loans issued to low-risk borrowers.  Link thinks this approach is unfair.
          .row.description
            .col-sm-6
              %p#students-2
                %strong.field-title Link Capital qualifies a borrower’s likelihood to repay by verifying factors such as credit score, employment and annual income.
                %span.field-text If these factors suggest a borrower is low-risk, Link can offer the borrower a loan with a competitive interest rate.
            .col-sm-6
              = image_tag "students2.png", class: "hidden-xs"
              = image_tag "students2xs.png", class: "visible-xs"
          .row.description
            .col-sm-6
              = image_tag "students3.png", class: "hidden-xs"
              = image_tag "students3xs.png", class: "visible-xs"
            .col-sm-6
              %p#students-3
                %strong.field-title Link Capital finances these qualified loans with the help of private investors and other banking partners.
                %span.field-text The interest payments on these loans are directed back to the investors, enabling them to earn competitive financial returns while also helping borrowers save.
          %hr
          .row
            .col-md-6
              %a{name: "savings-calculator"}
              %h4 Estimated Savings Calculator
              = render 'savings_calculator'
            .col-md-6
              = image_tag "savings-placeholder.png", id: "savings-placeholder"
              = render 'savings_results'


#fixed-modal.modal.fade{"aria-hidden" => "true", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h6.modal-title Fixed Rate Loan Details
      .modal-body
        = render "home/fixed_rate_details"

#variable-modal.modal.fade{"aria-hidden" => "true", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h6.modal-title Variable Rate Loan Details
      .modal-body
        = render 'home/variable_rate_details'
