%nav.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to image_tag("Link_Logo.png", height: "100%", width: "100%"), root_url, class: "navbar-brand", style: "padding: 5px 15px;"
    .collapse.navbar-collapse.navbar-ex1-collapse
      %ul.nav.navbar-nav.navbar-right
        = nav_link "Students & Recent Grads", students_url, "home", "students"
        = nav_link "Organizations", organizations_url, "home", "organizations"
        = nav_link "Investors", investors_url, "home", "investors"
        = nav_link "Contact Us", contact_url, "messages", "new"
        / = nav_link "Log In", "#", "sessions", "new"
        %li{style: "margin: 0 10px;"}= link_to "Apply Now", apply_url, class: "btn btn-success navbar-btn", id: "apply-btn"