!!!
%html
  %head
    %title Link Capital
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag "jquery.fastLiveFilter.js"
    = csrf_meta_tags
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      = javascript_include_tag "respond.min.js"
      = javascript_include_tag "html5shiv.js"
  %body
    #wrap
      = render "navigation"
      = render partial: "messages", locals: { flash: flash }
      = yield
    #footer
      .container
        %p= link_to "Frequently Asked Questions", faqs_url