!!!
%html
  %head
    %title Link Capital
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      = javascript_include_tag "respond.min.js"
      = javascript_include_tag "html5shiv.js"
  %body{class: "#{params[:controller]} #{params[:action]}"}
    = render "navigation"
    = render partial: "messages", locals: { flash: flash }
    #page
      = yield
    = render 'footer'
    / UserVoice JavaScript SDK (only needed once on a page)
    :javascript
      (function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/Rq6yqgh9QumgClpNu1XTOQ.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()
    / A tab to launch the Classic Widget
    :javascript
      UserVoice = window.UserVoice || [];
      UserVoice.push(['showTab', 'classic_widget', {
        mode: 'support',
        primary_color: '#ffffff',
        link_color: '#007dbf',
        tab_label: 'Have a Question?',
        tab_color: '#489BAB',
        tab_position: 'middle-right',
        tab_inverted: false
      }]);