!!!
%html
  %head
    %title Link Capital
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      = javascript_include_tag "respond.min.js"
      = javascript_include_tag "html5shiv.js"
  %body  
    = render "navigation"
    = render partial: "messages", locals: { flash: flash }
    = yield
    - unless params[:controller] == "faqs"
      .container
        = link_to "Frequently Asked Questions", faqs_url